<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (transactionType()) {
      <div>
        <h2 data-cy="transactionTypeDetailsHeading">
          <span jhiTranslate="jhipsterFinancialManagementApp.transactionType.detail.title">Transaction Type</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ transactionType()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterFinancialManagementApp.transactionType.name">Name</span></dt>
          <dd>
            <span>{{ transactionType()!.name }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/transaction-type', transactionType()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
