<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-transaction-log-heading"
        data-cy="TransactionLogCreateUpdateHeading"
        jhiTranslate="jhipsterFinancialManagementApp.transactionLog.home.createOrEditLabel"
      >
        Créer ou éditer un Transaction Log
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="jhipsterFinancialManagementApp.transactionLog.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_action" jhiTranslate="jhipsterFinancialManagementApp.transactionLog.action">Action</label>
          <input type="text" class="form-control" name="action" id="field_action" data-cy="action" formControlName="action" />
          @if (editForm.get('action')!.invalid && (editForm.get('action')!.dirty || editForm.get('action')!.touched)) {
            <div>
              @if (editForm.get('action')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              @if (editForm.get('action')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >Ce champ doit faire moins de 50 caractères.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_actionAt" jhiTranslate="jhipsterFinancialManagementApp.transactionLog.actionAt"
            >Action At</label
          >
          <div class="d-flex">
            <input
              id="field_actionAt"
              data-cy="actionAt"
              type="datetime-local"
              class="form-control"
              name="actionAt"
              formControlName="actionAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (editForm.get('actionAt')!.invalid && (editForm.get('actionAt')!.dirty || editForm.get('actionAt')!.touched)) {
            <div>
              @if (editForm.get('actionAt')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('actionAt')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Ce champ doit être une date et une heure.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_transaction" jhiTranslate="jhipsterFinancialManagementApp.transactionLog.transaction"
            >Transaction</label
          >
          <select
            class="form-control"
            id="field_transaction"
            data-cy="transaction"
            name="transaction"
            formControlName="transaction"
            [compareWith]="compareTransaction"
          >
            <option [ngValue]="null"></option>
            @for (transactionOption of transactionsSharedCollection; track $index) {
              <option [ngValue]="transactionOption">{{ transactionOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
